.played-text {
  color: #fff;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.played-cards {
  width: 286px;
  height: 8rem;
  background-color: #434142;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .played-card-area {
    position: absolute;
    top: 40vh;
    right: 5vw;
  }
}

@media (min-width: 1200px) {
  .played-card-area {
    position: absolute;
    top: 40vh;
    right: 10vw;
  }
}

@media (min-width: 1400px) {
  .played-card-area {
    position: absolute;
    top: 40vh;
    right: 15vw;
  }
}

.played-red {
  background-color: #f00a47;
  width: 20px;
  height: 1.8rem;
  border: thin solid #fff;
  margin: 0 1px;
}

.played-blue {
  background-color: #05ccf0;
  width: 20px;
  height: 1.8rem;
  border: thin solid #fff;
  margin: 0 1px;
}

.guess-btns {
  display: flex;
  margin-bottom: 0rem;
}

.red-btn {
  width: 9rem;
  height: 3rem;
  background-color: #f00a47;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  pointer-events: all;
  margin-right: 0.5rem;
}

.blue-btn {
  width: 9rem;
  height: 3rem;
  background-color: #05ccf0;
  color: #434142;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  pointer-events: all;
  margin-left: 0.5rem;
}

.red-btn:hover {
  background-color: #eb3d6c;
}

.blue-btn:hover {
  background-color: #3aafc4;
}

.signature {
  color: #05ccf0;
  text-align: center;
}

.build {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.build i {
  font-size: 20px;
}

.fa-html5 {
  color: #e38109;
}

.fa-css3 {
  color: #3776ed;
}

.fa-js-square {
  color: #e8c40e;
}
